main {
  border: 1px solid gray;
  border-radius: 10px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
  color: white;
  margin-bottom: 50px;
}

p {
  color: grey;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.line {
  border-bottom: 1px solid gray;
  margin: 50px 0;
  width: 100px;
}
