.blue {
  background-color: rgb(53, 144, 245);
  color: white;
}

.cancel-button {
  padding: 0;
  background-color: rgb(31, 34, 44);
  border: none;
  border-radius: none;
  color: rgb(53, 144, 245);
}

label {
  color: white;
  margin-right: 20px;
}

form input {
  margin-left: 5px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
}

.register-login {
  display: flex;
  justify-content: space-around;
}

.register-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.square-button {
  border-radius: 10px;
  padding: 0;
}

.gray {
  background-color: gray;
}
