.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgb(39, 42, 55);
  display: flex;
  height: 100vh;
  justify-content: center;
}

button {
  border-radius: 100px;
  padding: 10px;
}
